version: "3.8"
services:
  db:
    image: postgres:18
    restart: unless-stopped
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    environment:
      POSTGRES_USER: ${POSTGRES_USER:?error}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:?error}
      POSTGRES_DB: ${POSTGRES_DB:?error}
    volumes:
      # - ./postgres-data:/docker-entrypoint-initdb.d
      - db_data:/var/lib/postgresql/18/data
    networks:
      - crushingviz_dev
networks:
  crushingviz_dev:
    name: crushingviz_dev
    driver: bridge

volumes:
  db_data:
